<h3>Visa Fees</h3>
<h5> the Chinese Embassy and Consulates will increase fees for 5 year multiple entry visa and 10 year multiple entry visa to £170 and £255 respectively. </h5>
<p>The fees of consular documents will be adjusted as follows:</p>

<div class="grid-x grid-margin-x">
    <div class="large-3 small-3 cell">
        <h5 class="feeTitle">Nationality</h4>
        <div class="odd">
    <p class="nation">British</p>
    </div>
    </div>
    <div class="large-5 small-5 cell ">
        <h5 class="feeTitle">Regular service</h4>
        <div class="odd">
    <p>£85 (Except for 5 year/10 year multiple entry visa)</p>
    <p>£170 (Multiple entries for 5 years)</p>
    <p>£255 (Multiple entries for 10 years)</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <h5 class="feeTitle">Express service</h4>
        <div class="odd">
            <p>£104</p>
            <p>£189 </p>
            <p>£274 </p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="even">
            <p class="nation-1">American</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="even">
    <p>£108</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="even">
            <p>£127</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="odd">
            <p class="nation-1">Canadian</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="odd">
    <p>£59</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="odd">
            <p>£78</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="even">
            <p class="nation-1">Israel</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="even">
    <p>£20</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="even">
            <p>£39</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="odd">
            <p class="nation-1">Argentina</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="odd">
    <p>£115</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="odd">
            <p>£134</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="even">
            <p class="nation-1">Brazil</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="even">
    <p>£100</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="even">
            <p>£119</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="odd">
            <p class="nation-1">Serbian</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="odd">
    <p>£2</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="odd">
            <p>£21</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="even">
            <p class="nation-2">Romanian</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="even">
    <p>£58 (Single Entry)</p>
    <p>£77 (Double Entry)</p>
    <p>£115 (Multiple Entries)</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="even">
            <p>£77</p>
            <p>£96</p>
            <p>£134</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="odd">
            <p class="nation-3">Others</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="odd">
    <p>£28 (Single Entry)</p>
    <p>£42 (Double Entry)</p>
    <p>£56 (Multiple Entries for 6 Months)</p>
    <p>£84 (Multiple entries for 1 year and above)</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="odd">
        <p>£47</p>
        <p>£61</p>
        <p>£75</p>
        <p>£103</p>
        </div>
    </div>
</div>
