<h3>Visa Fees</h3>
<h5> the Chinese Embassy and Consulates will increase fees for 5 year multiple entry visa and 10 year multiple entry visa to £170 and £255 respectively. </h5>
<p>The fees of consular documents will be adjusted as follows:</p>

<div class="grid-x grid-margin-x">
    <div class="large-3 small-3 cell">
        <h5 class="feeTitle">Nationality</h4>
        <div class="odd">
    <p class="nation">British</p>
    </div>
    </div>
    <div class="large-5 small-5 cell ">
        <h5 class="feeTitle">Regular service</h4>
        <div class="odd">
    <p>£130 (Except for 5 year/10 year multiple entry visa)</p>
    <p>£194 (Multiple entries for 5 years)</p>
    <p>£257 (Multiple entries for 10 years)</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <h5 class="feeTitle">Express service</h4>
        <div class="odd">
            <p>£161</p>
            <p>£225 </p>
            <p>£288 </p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="even">
            <p class="nation-1">American</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="even">
    <p>£179</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="even">
            <p>£210</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="odd">
            <p class="nation-1">Canadian</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="odd">
    <p>£110</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="odd">
            <p>£141</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="even">
            <p class="nation-1">Israel</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="even">
    <p>£81</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="even">
            <p>£112</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="odd">
            <p class="nation-1">Argentina</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="odd">
    <p>£158</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="odd">
            <p>£189</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="even">
            <p class="nation-1">Brazil</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="even">
    <p>£143</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="even">
            <p>£174</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="odd">
            <p class="nation-1">Serbian</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="odd">
    <p>£67</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="odd">
            <p>£98</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="even">
            <p class="nation-2">Romanian</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="even">
    <p>£112 (Single Entry)</p>
    <p>£127 (Double Entry)</p>
    <p>£158 (Multiple Entries)</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="even">
            <p>£143</p>
            <p>£158</p>
            <p>£189</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="odd">
            <p class="nation-3">Others</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="odd">
    <p>£87 (Single Entry)</p>
    <p>£98 (Double Entry)</p>
    <p>£109 (Multiple Entries for 6 Months)</p>
    <p>£130 (Multiple entries for 1 year and above)</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="odd">
        <p>£118</p>
        <p>£129</p>
        <p>£140</p>
        <p>£161</p>
        </div>
    </div>
</div>
