<h3>Visa Fees</h3>
<h5> the Chinese Embassy and Consulates will increase fees for 5 year multiple entry visa and 10 year multiple entry visa to £170 and £255 respectively. </h5>
<p>The fees of consular documents will be adjusted as follows:</p>

<div class="grid-x grid-margin-x">
    <div class="large-3 small-3 cell">
        <h5 class="feeTitle">Nationality</h4>
        <div class="odd">
    <p class="nation">British</p>
    </div>
    </div>
    <div class="large-5 small-5 cell ">
        <h5 class="feeTitle">Regular service</h4>
        <div class="odd">
    <p>£151 (Except for 5 year/10 year multiple entry visa)</p>
    <p>£236 (Multiple entries for 5 years)</p>
    <p>£321 (Multiple entries for 10 years)</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <h5 class="feeTitle">Express service</h4>
        <div class="odd">
            <p>£182</p>
            <p>£267 </p>
            <p>£352 </p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="even">
            <p class="nation-1">American</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="even">
    <p>£174</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="even">
            <p>£205</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="odd">
            <p class="nation-1">Canadian</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="odd">
    <p>£125</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="odd">
            <p>£156</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="even">
            <p class="nation-1">Israel</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="even">
    <p>£86</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="even">
            <p>£117</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="odd">
            <p class="nation-1">Argentina</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="odd">
    <p>£181</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="odd">
            <p>£212</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="even">
            <p class="nation-1">Brazil</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="even">
    <p>£166</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="even">
            <p>£197</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="odd">
            <p class="nation-1">Serbian</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="odd">
    <p>£68</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="odd">
            <p>£99</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="even">
            <p class="nation-2">Romanian</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="even">
    <p>£124 (Single Entry)</p>
    <p>£143 (Double Entry)</p>
    <p>£181 (Multiple Entries)</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="even">
            <p>£155</p>
            <p>£174</p>
            <p>£212</p>
        </div>
    </div>
    <div class="large-3 small-3 cell">
        <div class="odd">
            <p class="nation-3">Others</p>
        </div>
    </div>
    <div class="large-5 small-5 cell ">
        <div class="odd">
    <p>£94 (Single Entry)</p>
    <p>£108 (Double Entry)</p>
    <p>£122 (Multiple Entries for 6 Months)</p>
    <p>£150 (Multiple entries for 1 year and above)</p>
    </div>
    </div>
    <div class="large-4 small-4 cell ">
        <div class="odd">
        <p>£125</p>
        <p>£139</p>
        <p>£153</p>
        <p>£181</p>
        </div>
    </div>
</div>
