<h3>Online Chinese Visa Application</h3>
<p><strong>March 31, 2025.</strong> Applicants could enjoy convenience of filling out the form and uploading materials online.  After passing the online review, you can then proceed to the visa centre 
                        to submit your materials (applicants for diplomatic, official, courtesy, and YES project visas should still submit the documents to the Consulate-General of China in Manchester when 
                        the online review is approved).  Read the full instructions on the Chinese Visa Application Centre, <a href="https://www.visaforchina.cn/MAN3_EN/tongzhigonggao/361916883945000960.html">Notice on Launching the China Online Visa Processing System</a></p>
                                                      

<h4><b>Important Notice on Fingerprints Collection of Visa Application</b></h4>

                      <p>As of 1st Nov. 2018, the Chinese Visa Application Service Centre in London, Manchester and Edinburgh(hereinafter referred to as 'Visa Application Centres')
                        will capture all applicants' fingerprints on behalf of the Chinese Embassy and Consulates in the UK in accordance with Chinese laws and regulations, and based
                        on the the principle of reciprocity. Applicants who apply for the diplomatic visa, official visa or courtesy visa, please apply and have the fingerprints
                        taken at the Embassy or Consulates in the UK . </p>
                      <p>Applicants who are aged between 14 to 70 inclusive applying for Chinese visas are required to submit the application <b>in person to get fingerprints taken</b>
                        at the Visa Application Centres. </p>
                        <p>Visitors to China whose fingerprints do not match may be denied entry and should bear all the consequences. Meanwhile, every applicant is kindly reminded
                          to book an appointment  online as early as possible well ahead of the travel schedule.</p>
                          <p>Thank you for your understanding and cooperation.</p>
                          <p>Chinese Visa Application Service Centre in London 18th Oct.2018</p>
                      <ul class="no-bullet text-left">
                        <li class="mark">What you will need to apply for a Chinese Visa.</li>
                        <li>6 Months remaining on your passport.</li>
                        <li>2 Blank pages for Visa and Entry / Exit stamps.</li>
                        <li>One Photo less than 6 months old.</li>
                        <li>Flight itinerary.</li>
                        <li>Hotel reservations.</li>
                      </ul>
