<h3>L Visa or Tourist visa</h3>
                        <p>Issued to those who are going to travel to China for tourism.  <br />
                          The usual entry duration of the visa is 30 days at the discretion of the <a href="http://www.visaforchina.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="Chinese Visa Application Centre"><strong>CVASC</strong></a>, although this may be extended with the appropriate supporting documentation.</p>
                        <ul class="no-bullet text-left">
                            <li class="mark">Supporting Documentation</li>
                            <li>This would be an Invitation leffter from Family or a friend with permanent residence in China.</li>
                            <li>An Invitation from <mark><strong>family</strong></mark> requires a photo copy of their Chinese ID card and Invitation letter.</li>
                            <li>From a <mark><strong>friend</strong></mark> a photocopy of their passport and Chinese residence permit.</li>
                            <li>The duration of your stay, a copy of your flight details and hotel reservations.</li>
                            <li>6 Months remaining on your passport.</li>
                            <li>2 Blank pages for Visa and Entry / Exit stamps.</li>
                            <li>One Photo less than 6 months old.</li>
                        </ul>