<h3>Q2 Family reunion, foster care or visiting relatives with permanent residence in China</h3>
                        <p>Issued to those who intend to visit relatives who are Chinese citizens residing in China or foreigners with permanent residence in China; the intended duration of stay is limited to no more than 180 days.</p>
                        <ul class="no-bullet text-left">
                            <li class="mark">Supporting Documentation</li>
                            <li>A completed <a href="https://www.visaforchina.cn/MAN3_EN/qianzhengyewu/qianzhengxinxi/ziliaoxiazai">Invitation letter form</a> which can be downloaded from Chinese Visa Application Centre UK.</li>
                            <li>An Invitation from <mark><strong>family</strong></mark> requires a photo copy of their Chinese ID card.</li>
                            <li>From a <mark><strong>friend</strong></mark> a photocopy of their passport and Chinese residence permit.</li>
                            <li>The duration of your stay, a copy of your flight details and hotel reservations.</li>
                            <li>6 Months remaining on your passport.</li>
                            <li>2 Blank pages for Visa and Entry / Exit stamps.</li>
                            <li>One Photo less than 6 months old.</li>
                          </ul>
