<h3>Important information on 5 Year and 10 Year Multi Entry Visas.</h3>

<p>As of <b>25th March 2019</b>, the Chinese Embassy and Consulates in the U.K. will accept applications for 5-year or 10-year multiple entry visas from British citizens who are going to visit China for the purposes of commercial/trade activities (M visa), tourism (L visa), short-term family visits (Q2 Visa), short-term personal affairs (S2 Visa), if they meet one of the following requirements:</p>

<ul>
<p>1. If the applicant has been granted two or more 2-year multiple entry visas by the Chinese Embassy or Consulates in the U.K., he/she can apply for a 5-year multiple entry visa;</p>

<p>2. If the applicant has been granted one multiple entry visa valid for two or more years by the Chinese Embassy or Consulates in the U.K., and visited China at least three times each year during the past two years, he/she can apply for a 5-year multiple entry visa;</p>

<p>3. If the applicant has been granted one 5-year multiple entry visa by the Chinese Embassy or Consulates in the U.K., he/she can apply for a 10-year multiple entry visa;</p>

<p>4. British spouses and children of Chinese citizens, British citizens with Chinese heritage and their spouses and children, who are going to China for the purpose of short-term family visits, at the invitation of one of their family members from China (spouses, parents, parents of spouses, children, spouses of children, siblings, grandparents, grandchildren):</p>

<p>If the applicant has been granted two or more 2-year multiple entry visas by the Chinese Embassies and Consulates, he/she can apply for a 10-year multiple entry Q2 visa;</p>

<p> If the applicant has been granted one multiple entry visa by the Chinese Embassies and Consulates valid for two or more years, he/she can apply for a 5-year multiple entry Q2 visa. Additionally, if the above applicant has visited China at least three times each year during the past two years, he/she can apply for a 10-year multiple entry Q2 visa.</p>

<p>Visa fee for a 5-year multiple entry visa is £170, and for a 10-year multiple entry visa is £255. (Service Charge incurred by the Chinese Visa Application Service Center is not included)</p>

<p>Based on Chinese laws and regulations, the Chinese Embassy and Consulates in the U.K. reserve the right to decide on the type of visa, number of entries, validity and duration of stay for individual cases, and the right to refuse a visa application or revoke an issued visa. </p>
</ul>